body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background: linear-gradient(#a2d2ff, #efb0c9);
}

#bff-img {
    border-radius: 270%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 6px#efb0c9;
}


h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;

}

#bday-date {
    margin: 0px;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gift-img {
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    height: 400px;
    background-image: url(gift-img/gift.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;

}

#gift-happy:hover {
    background-image: url(gift-img/john-cena-dance.gif);
}

.gift-section {
    margin-top: 50px;
    margin-bottom: 50px;
}


.gift-title {
    margin-bottom: 0;
}

.gift-hint {
    margin-top: 10px;
}

#gift-image {
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    height: 400px;
    background-image: url(gift-img/gift.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}

#gift-image:hover {
    background-image: url(gift-img/lips-cute-girl.gif);
}

#gift-genius:hover {
    background-image: url(gift-img/genius-mona-lisa-head-shake-meme-n2wmg0e0j03izrx8.gif);
}

#gift-badass:hover {
    background-image: url(gift-img/wink-wink-dwayne-johnson.gif);
}

#gift-cheers {
    height: 200px;
}

#gift-cheers:hover {
    background-image: url(gift-img/giphy.gif);
}

footer {
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}